pip3 install Django==2.2
pip3 install numpy==1.17.2
pip3 install pandas==0.25.1
pip3 install Pillow==6.1.0
pip3 install psycopg2-binary==2.8.3
pip3 install python-dateutil==2.8.0
pip3 install pytz==2019.1


[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=bdoc
Group=www-data
WorkingDirectory=/home/bdoc/nflpp
ExecStart=/home/bdoc/nflpp/virutal_nflpp/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/bdoc/nflpp/nflpp.sock nflpp.wsgi:application
